{% extends "layout.html" %} {% block content %}
<br>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row mb-2">
            <div class="col-md-8">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Input Details</strong>
                        <div class="form-group">
                            {{ form.skill1.label(class="form-control-label") }} {% if form.skill1.errors %} {{ form.skill1(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.skill1.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.skill1(class="form-control form-control-lg") }} {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.skill2.label(class="form-control-label") }} {% if form.skill2.errors %} {{ form.skill2(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.skill2.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.skill2(class="form-control form-control-lg") }} {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.skill3.label(class="form-control-label") }} {% if form.skill3.errors %} {{ form.skill3(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.skill3.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.skill3(class="form-control form-control-lg") }} {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.gender.label(class="form-control-label") }} {% if form.gender.errors %} {{ form.gender(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.gender.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.gender(class="form-control form-control-lg") }} {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.degree.label(class="form-control-label") }} {% if form.degree.errors %} {{ form.degree(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.degree.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.degree(class="form-control form-control-lg") }} {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.experience.label(class="form-control-label") }} {% if form.experience.errors %} {{ form.experience(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.experience.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.experience(class="form-control form-control-lg") }} {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            {{ form.submit(class="btn btn-primary mb-2") }}
        </div>
    </form>
</div>
{% endblock %}